build/
test.xcodeproj/project.xcworkspace/xcuserdata/jianbo.xcuserdatad/WorkspaceSettings.xcsettings
test.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
vendor
*.zip
*.ipa
report.xml
fastlane/.env.development
.DS_Store
